# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
/__pycache__/
*.pyc
/app/api/server/models/
.env
backend/.env
/backend/qdrant_cache
backend/api/utils/qdrant_cache
/venv