/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.11.16-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: fact_checker_db
-- ------------------------------------------------------
-- Server version	10.11.16-MariaDB-ubu2204

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Busena`
--

DROP TABLE IF EXISTS `Busena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Busena` (
  `Id` int(11) NOT NULL,
  `Name` varchar(50) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Busena`
--

LOCK TABLES `Busena` WRITE;
/*!40000 ALTER TABLE `Busena` DISABLE KEYS */;
INSERT INTO `Busena` VALUES
(1,'Aktyvi'),
(2,'Atsaukta'),
(3,'Sustabdyta');
/*!40000 ALTER TABLE `Busena` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Mokejimas`
--

DROP TABLE IF EXISTS `Mokejimas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Mokejimas` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Atlikimo_data` date NOT NULL,
  `Sumoketa_suma` decimal(10,2) NOT NULL,
  `fk_Statusas` int(11) NOT NULL,
  `fk_Prenumerata` int(11) NOT NULL,
  `fk_Paslauga` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `idx_Mokejimas_fk_Statusas` (`fk_Statusas`),
  KEY `idx_Mokejimas_fk_Prenumerata` (`fk_Prenumerata`),
  KEY `idx_Mokejimas_fk_Paslauga` (`fk_Paslauga`),
  CONSTRAINT `fk_Mokejimas_Paslauga` FOREIGN KEY (`fk_Paslauga`) REFERENCES `Teikiama_paslauga` (`Id`),
  CONSTRAINT `fk_Mokejimas_Prenumerata` FOREIGN KEY (`fk_Prenumerata`) REFERENCES `Prenumerata` (`Id`),
  CONSTRAINT `fk_Mokejimas_Statusas` FOREIGN KEY (`fk_Statusas`) REFERENCES `Statusas` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Mokejimas`
--

LOCK TABLES `Mokejimas` WRITE;
/*!40000 ALTER TABLE `Mokejimas` DISABLE KEYS */;
/*!40000 ALTER TABLE `Mokejimas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Naudotojas`
--

DROP TABLE IF EXISTS `Naudotojas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Naudotojas` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Vardas` varchar(255) NOT NULL,
  `Pavarde` varchar(255) NOT NULL,
  `El_pastas` varchar(255) NOT NULL,
  `fk_Prisijungimas` varchar(255) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `El_pastas` (`El_pastas`),
  UNIQUE KEY `fk_Prisijungimas` (`fk_Prisijungimas`),
  KEY `idx_Naudotojas_fk_Prisijungimas` (`fk_Prisijungimas`),
  CONSTRAINT `fk_Naudotojas_Prisijungimas` FOREIGN KEY (`fk_Prisijungimas`) REFERENCES `Prisijungimas` (`El_pastas`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Naudotojas`
--

LOCK TABLES `Naudotojas` WRITE;
/*!40000 ALTER TABLE `Naudotojas` DISABLE KEYS */;
INSERT INTO `Naudotojas` VALUES
(1,'Jonas','Jonaitis','test1@gmail.com','test1@gmail.com');
/*!40000 ALTER TABLE `Naudotojas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Prenumerata`
--

DROP TABLE IF EXISTS `Prenumerata`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Prenumerata` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Pradzios_laikas` date NOT NULL,
  `Atnaujinimo_laikas` date NOT NULL,
  `Atliktos_uzklausos` int(11) NOT NULL DEFAULT 0,
  `fk_Busena` int(11) NOT NULL,
  `fk_Naudotojas` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `idx_Prenumerata_fk_Busena` (`fk_Busena`),
  KEY `idx_Prenumerata_fk_Naudotojas` (`fk_Naudotojas`),
  CONSTRAINT `fk_Prenumerata_Busena` FOREIGN KEY (`fk_Busena`) REFERENCES `Busena` (`Id`),
  CONSTRAINT `fk_Prenumerata_Naudotojas` FOREIGN KEY (`fk_Naudotojas`) REFERENCES `Naudotojas` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Prenumerata`
--

LOCK TABLES `Prenumerata` WRITE;
/*!40000 ALTER TABLE `Prenumerata` DISABLE KEYS */;
/*!40000 ALTER TABLE `Prenumerata` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Prisijungimas`
--

DROP TABLE IF EXISTS `Prisijungimas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Prisijungimas` (
  `El_pastas` varchar(255) NOT NULL,
  `Slaptazodis` varchar(255) NOT NULL,
  PRIMARY KEY (`El_pastas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Prisijungimas`
--

LOCK TABLES `Prisijungimas` WRITE;
/*!40000 ALTER TABLE `Prisijungimas` DISABLE KEYS */;
INSERT INTO `Prisijungimas` VALUES
('test1@gmail.com','test1');
/*!40000 ALTER TABLE `Prisijungimas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Statusas`
--

DROP TABLE IF EXISTS `Statusas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Statusas` (
  `Id` int(11) NOT NULL,
  `Name` varchar(50) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Statusas`
--

LOCK TABLES `Statusas` WRITE;
/*!40000 ALTER TABLE `Statusas` DISABLE KEYS */;
INSERT INTO `Statusas` VALUES
(1,'Pavyko'),
(2,'Nepavyko'),
(3,'Atsaukta'),
(4,'Laukiama mokejimo');
/*!40000 ALTER TABLE `Statusas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Svecias`
--

DROP TABLE IF EXISTS `Svecias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Svecias` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Ip_adresas` varchar(255) NOT NULL,
  `Uzklausu_skaicius` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `Ip_adresas` (`Ip_adresas`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Svecias`
--

LOCK TABLES `Svecias` WRITE;
/*!40000 ALTER TABLE `Svecias` DISABLE KEYS */;
/*!40000 ALTER TABLE `Svecias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Teikiama_paslauga`
--

DROP TABLE IF EXISTS `Teikiama_paslauga`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Teikiama_paslauga` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Pavadinimas` varchar(255) NOT NULL,
  `Kaina` decimal(10,2) NOT NULL,
  `Trukme` int(11) NOT NULL,
  `Uzklausu_limitas` int(11) NOT NULL,
  `fk_Prenumerata` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `fk_Prenumerata` (`fk_Prenumerata`),
  KEY `idx_Teikiama_paslauga_fk_Prenumerata` (`fk_Prenumerata`),
  CONSTRAINT `fk_Teikiama_paslauga_Prenumerata` FOREIGN KEY (`fk_Prenumerata`) REFERENCES `Prenumerata` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Teikiama_paslauga`
--

LOCK TABLES `Teikiama_paslauga` WRITE;
/*!40000 ALTER TABLE `Teikiama_paslauga` DISABLE KEYS */;
/*!40000 ALTER TABLE `Teikiama_paslauga` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Uzklausa`
--

DROP TABLE IF EXISTS `Uzklausa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `Uzklausa` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Uzklausos_data` date NOT NULL,
  `Uzklausa_text` varchar(255) NOT NULL,
  `Atsakymas` varchar(255) DEFAULT NULL,
  `fk_Naudotojas` int(11) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `idx_Uzklausa_fk_Naudotojas` (`fk_Naudotojas`),
  CONSTRAINT `fk_Uzklausa_Naudotojas` FOREIGN KEY (`fk_Naudotojas`) REFERENCES `Naudotojas` (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Uzklausa`
--

LOCK TABLES `Uzklausa` WRITE;
/*!40000 ALTER TABLE `Uzklausa` DISABLE KEYS */;
/*!40000 ALTER TABLE `Uzklausa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES
(1,'pbkdf2_sha256$1200000$jTu0QM6hjMVh3zuOKwBAYL$yp5fb5gR8I2HfiSXB4+XM8PDob3JuXrFtTN88CMOmtw=','2026-03-11 23:47:57.981328',1,'pvp','','','no@email.com',1,1,'2026-03-11 23:47:53.160780');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
INSERT INTO `django_admin_log` VALUES
(1,'2026-03-12 00:33:28.373139','test1@gmail.com','Prisijungimas object (test1@gmail.com)',1,'[{\"added\": {}}]',11,1),
(2,'2026-03-12 00:34:03.554065','1','Naudotojas object (1)',1,'[{\"added\": {}}]',9,1);
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES
(1,'admin','logentry'),
(7,'app_logic','busena'),
(8,'app_logic','mokejimas'),
(9,'app_logic','naudotojas'),
(10,'app_logic','prenumerata'),
(11,'app_logic','prisijungimas'),
(12,'app_logic','statusas'),
(13,'app_logic','svecias'),
(14,'app_logic','teikiamapaslauga'),
(15,'app_logic','uzklausa'),
(2,'auth','group'),
(3,'auth','permission'),
(4,'auth','user'),
(5,'contenttypes','contenttype'),
(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES
('flt7h9ccwaebgjkdplplyfut4q4ljlv0','.eJxVjMsOwiAQRf-FtSE8Biku3fcbyMAMUjU0Ke3K-O_apAvd3nPOfYmI21rj1nmJE4mL0OL0uyXMD247oDu22yzz3NZlSnJX5EG7HGfi5_Vw_w4q9vqtTbBkbfaONRRfsGCgoIFBZeIykAE2Q2GnwHu2npO2-ey4EGiFJrB4fwD1LThv:1w0THR:BuC5CKJ5pe0_M8v7HJHjqsaFuxpn-xSavILuEWEnqmw','2026-03-25 23:47:57.983687');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-12  1:09:47
